<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Jon Kuperman's Personal Blog</title>

        <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <meta name="description" content="The personal website and blog of Jon Kuperman">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <div class="container">
            <p>Hello.</p>
            <p>My name is Jon Kuperman. I'm a developer, teacher and open source evangelist.</p>
            <p>You can follow me on <a target="_blank" class="twitter" href="https://twitter.com/jkup">Twitter</a> and <a target="_blank" class="github" href="https://github.com/jkup">Github</a>.</p>
            <p>You should check out my <a target="_blank" class="ama" href="https://github.com/jkup/ama">Ask Me Anything</a>, <a target="_blank" class="nodecasts" href="https://nodecasts.io/">Interactive Node.js Tutorials</a> or my <a target="_blank" class="codeplanet" href="https://codeplanet.io/">Programming Blog</a>.</p>

            <p>Also, check out my courses on Frontend Masters!</p>

            <p>
                <a target="_blank" class="accessibility" href="https://frontendmasters.com/courses/web-accessibility/">Web Accessibility</a>
                <span>&amp;</span>
                <a target="_blank" class="devtools" href="https://frontendmasters.com/courses/chrome-dev-tools/">Chrome Developer Tools</a>
            </p>

            <p>Some things I've written</p>

            <ul>
            {% for post in site.posts %}	
            <li>
                <small>{{ post.date | date: "%Y-%m-%d" }}</small> - 
                <a class="{{ post.className}}" href="{{ post.url }}">{{ post.title }}</a>
            </li>			
            {% endfor %}
            </ul>
        </div>

        <!-- Google Analytics -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-21008844-11','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>