<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-21008844-11"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-21008844-11");
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#2196f3" />

    <title>Jon Kuperman - {{ page.title }}</title>

    <link
      href="https://fonts.googleapis.com/css?family=Arvo:700|Open+Sans"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <meta
      name="description"
      content="The personal website and blog of Jon Kuperman"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <div class="container">
      <a class="backButton" href="{{ site.url }}">&larr; Back</a>
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
    <script>
      // Check that service workers are registered
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/sw.js");
        });
      }
    </script>
    <script async src="/js/prism.js"></script>
  </body>
</html>
