<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="manifest" href="/manifest.json" />
    <title>Jon Kuperman - {{ page.title }}</title>

    <link
      href="https://fonts.googleapis.com/css?family=Arvo:700|Open+Sans"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <meta
      name="description"
      content="The personal website and blog of Jon Kuperman"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <div class="container">
      <a class="backButton" href="{{ site.url }}">&larr; Back</a>
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>

    <!-- Google Analytics -->
    <script>
      window.ga = function() {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga("create", "UA-21008844-11", "auto");
      ga("send", "pageview");
    </script>
    <script
      src="https://www.google-analytics.com/analytics.js"
      async
      defer
    ></script>
  </body>
</html>
